:root {
  --red: #bf0413;
  --blue: #3895BA;
  --ivory: #FBF5F3;
  --green: #6ADB0F;

}

body {
  background-color: var(--ivory);
  font-family: !important 'Roboto Slab', serif;
}

.nav,
.top-bar {
  background-color: black;
}

.top-bar ul{
  background-color: black;
}

.top-bar a {
  color: white;
}

a {
  color: black;
}

div.item {
  background-color: var(--blue);
  margin: 50px;
  text-align: center;
}

form {
  margin: 50px;
  padding: 90px;
  background-color: var(--green)
}

.button {
  background-color: var(--red);
}
